:root {
  --primary: #319795;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
  --fuente-secundaria: 'Noto Serif', sans-serif;
  --fuente-terciaria: 'Roboto', sans-serif;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

