:root {
  --primary: #319795;
  --black: #262626;
  --white: #FFF;
  --light-gray: #f8f8f8;
  --light-gray-test: #fafafa;
  --gray: #e5e5e5;
  --dark-gray: #8a8a8a;
  --fuente-principal: 'Outfit', sans-serif;
  --fuente-secundaria: 'Noto Serif', sans-serif;
  --fuente-terciaria: 'Roboto', sans-serif;
  --fuente-italic: 'Lora', sans-serif;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

